@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Shabnam";
  src: url("../../src/font/Shabnam/Shabnam-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Shabnam";
  src: url("../../src/font/Shabnam/Shabnam-Medium.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Shabnam";
  src: url("../../src/font/Shabnam/Shabnam-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Lalezar";
  src: url("../../src/font/Lalezar/Lalezar-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("../../src/font/Vazirmatn/Vazirmatn-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "IranYekan";
  src: url("../../src/font/IranYekan/Qs_Iranyekan\ medium.ttf");
  font-weight: 400;
}
@layer base {
  :root {
    --primary-gradient: linear-gradient(90deg, #7dd3fc -0.66%, #0ea5e9 100%);
    --secondary-gradient: linear-gradient(90deg, #f97316 -0.66%, #facc15 100%);
    --thirdary-gradient: linear-gradient(90deg, #84cc16 -0.66%, #16a34a 100%);
  }
  html {
    font-family: "Shabnam", system-ui, sans-serif;
  }
}
@layer components {
  html,
  body {
    width: 100%;
  }

  .border-shadow {
    box-shadow: 0px 1px 0px 8px #e0f2fe;
  }
  .container{
    @apply px-4;
  }
  .link-button{
    @apply text-white bg-thirdary-gradient rounded-lg px-8 py-2;
  }

}


.ba1{
  animation: 18s anim1 infinite;
}
.ba2{
  animation: 23s anim2 infinite;
}
.tap-animation{
  animation: tilt-n-move-shaking 2s infinite  ;
}

@keyframes anim1 {
	0% {
		animation-timing-function: ease-in;
		opacity: .1;
		transform: translateY(0);
	}

	50% {
		animation-timing-function: ease-out;
		opacity: .3;
		transform: translateY(100px) translateX(160%) scale(1.2);
	}
  100% {
		animation-timing-function: ease-out;
		opacity: .1;
		transform: translateY(0);
	}

}

@keyframes anim2 {
	0% {
		opacity: .1;
		transform: translateY(0);
	}

	50% {
		opacity: .3;
		transform: translateY(-150px) translateX(-100%) scale(1.6);
	}
  75% {
		opacity: .3;
		transform: translateY(200px) translateX(-170%) scale(1);
	}
  100% {
		opacity: .1;
		transform: translateY(0);
	}

}

@keyframes tap {
	0% {
		transform: scale(1);
	}
  25% {
		transform: scale(1);
	}
  50% {
		transform: scale(1.1);
	}
  75% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(1px, 1px) rotate(.1deg); }
  50% { transform: translate(0, 0) rotate(0deg); }
  75% { transform: translate(-1px, 1px) rotate(.1deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

